* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #8D8D92;
  text-align: center;
  margin: 0;
  width: 100%;
}

.main-header {
    padding: 40px;

  position: fixed;
  top: -20px;
  color: #5D5E60;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #BEB2C8;
  text-align: center;
  justify-content: space-around;
  align-content: space-around;
}

footer {
  color: #5D5E60;
  width: 100%;
  background-color: #BEB2C8;
  text-align: center;
  justify-content: space-between;
}

.story-card {
  background-color: #D7D6D6;
  margin: 30px;
  padding: 30px;
  border-radius: 30px;
}

.story-img {
  width: 80%;
  margin: 20px;
}




